﻿@using ConstructionManagementPortal.MVCClient.Controllers
@model IEnumerable<ConstructionManagementPortal.MVCClient.Models.PersonTask>
@{
    
}

<h2>View</h2>
<div class="wrapper">
    <p>
        @Html.ActionLink("Return to Index", "Index")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoursBudgeted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoursWorked)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusID)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectId)
                </td>
                <td>
                    @AdminController.GetEmployeeInformation(item.EmployeeId).FirstName @AdminController.GetEmployeeInformation(item.EmployeeId).LastName @item.EmployeeId
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoursBudgeted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoursWorked)
                </td>
                <td>
                    @AdminController.GetStatusDropDowns().First(e => e.Value == item.StatusID.ToString()).Text;

                </td>
                @Html.DisplayFor(modelItem => item.Name)
                <td>
                    @Html.ActionLink("Activate", "ActivateTask", new { id = item.Id })|
                    @Html.ActionLink("Complete", "CompleteTask", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
    </div>