﻿@model ConstructionManagementPortal.MVCClient.Models.Employee

@{
    ViewBag.Title = "EnterUsername";
}

<h2>EnterUsername</h2>
<div class="wrapper">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <p class="text-danger">@TempData["Error"]</p>
        <div class="form-horizontal">
            <h4>Employee</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Details.username, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Details.username, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Details.username, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Clock in/out" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
    </div>