﻿@using ConstructionManagementPortal.MVCClient.Controllers
@model IEnumerable<ConstructionManagementPortal.MVCClient.Models.PersonTask>
@{
    
}

<h2>View</h2>
<div class="wrapper">
<p>
    @Html.ActionLink("Return to Index", "Index")
</p>
<table class=" table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoursBudgeted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoursWorked)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectId)
        </td>
        <td>
            @item.EmployeeId
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoursBudgeted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoursWorked)
        </td>
        <td>
            @item.StatusID
            
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
    </tr>
}

</table>
    </div>