﻿@using ConstructionManagementPortal.MVCClient.Controllers
@using ConstructionManagementPortal.MVCClient.Models
@model IEnumerable<ConstructionManagementPortal.MVCClient.Models.AcceptedProject>

@{
    ViewBag.Title = "AcceptedProjects";
}

<h2>AcceptedProjects</h2>
<div class="wrapper">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManagerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoursBudgeted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoursWorked)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SiteID)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryID)
                </td>
                <td>

                    @AdminController.GetEmployeeInformation(item.ManagerID).FirstName   @AdminController.GetEmployeeInformation(item.ManagerID).LastName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoursBudgeted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoursWorked)
                </td>
                <td>
                    @ClientHelper.GetSiteInformation(item.SiteID).Name
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |

                </td>
            </tr>
        }

    </table>
</div>