﻿@model IEnumerable<ConstructionManagementPortal.MVCClient.Models.Employee>

@{
    ViewBag.Title = "Employees";
}

<h2>Employees</h2>
<div class="wrapper">
    <p>
        @Html.ActionLink("Create New", "CreateEmployee")
    </p>
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.ActionLink("Schedule", "ViewSchedule", new { id = item.ID }) |
                    @Html.ActionLink("Details", "EmployeeDetails", new { id = item.ID })|
                    @Html.ActionLink("Assigned Tasks", "EmployeeTask", new { id = item.ID })

                </td>
            </tr>
        }

    </table>
    </div>
