﻿@model ConstructionManagementPortal.MVCClient.Models.Employee


@{
    ViewBag.Title = "EmployeeDetails";
}

<h2>@Html.DisplayFor(model=> model.FirstName)  @Html.DisplayFor(model=> model.LastName)</h2>
<div class="wrapper">
    <div>
        <h4>@Html.DisplayFor(model => model.Role.Name)</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Details.username)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Details.username)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Details.password)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Details.password)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Details.phone)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Details.phone)
            </dd>
        </dl>
    </div>
    <p>
        @Html.ActionLink("ChangeRole", "ChangeRole", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Employees")
    </p>
    </div>