﻿@model IEnumerable<ConstructionManagementPortal.MVCClient.Models.Schedule>

@{
    ViewBag.Title = "ViewSchedule";
}

<h2>ViewSchedule</h2>
<div class="wrapper">
    <p>
        @Html.ActionLink("Add Day", "AddSchedule")

    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateWorking)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td></td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateWorking)
                </td>
                <td>

                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "RemoveDay", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
    </div>