﻿
body {

   
    padding-top: 50px;
    padding-bottom: 20px;
    background: #74AFAD !important;

  
}
.content {
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
   
    border-radius: 10px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
h2 {
    color: white;
    text-shadow: 1px 1px 1px  black;
}
p {
    color: white;
    text-shadow: 1px 1px 1px  black;
}
.content {
    color: white;
    text-shadow: 1px 1px 1px  black;
}
.wrapper {
    background-color:#558C89 ;
    border-radius: 10px;
    box-shadow: inset 0px 0px 10px 2px;
    padding-top: 10px;
    margin-top: 1em;
}
.wrapper div a {
    color: white !important;
    
}
td a {
    color: Orange;
    
}
.wrapper >a {
    color: white !important;
}